{% extends 'feed/layout.html' %}
{% block title %}Post{% endblock %}
{% block content %}
<div class="card">
    <img src="{{ post.image.url }}" class="card-img-top">
    <div class="card-body">
        <h5>{{ post.author.username }}</h5>
        <p>{{ post.caption }}</p>
        <a href="{% url 'feed:like_post' post.pk %}" class="btn btn-outline-primary">
            ❤️ {{ post.likes.count }}
        </a>
    </div>
</div>

<hr>
<h4>Comentarios</h4>
<div>
    {% for comment in comments %}
        <p><strong>{{ comment.user.username }}</strong>: {{ comment.text }}</p>
    {% empty %}
        <p>No hay comentarios.</p>
    {% endfor %}
</div>

<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button class="btn btn-primary">Comentar</button>
</form>
{% endblock %}
